<%- include('header') %>
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="page-title">
        <%= title %>
      </h2>
      <form action="" id="form-update">
        <div class="card shadow mb-4">
          <div class="card-header">
            <strong class="card-title">Detail Device [<%= device.name %>]</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="key">Device Key</label>
                  <input type="text" id="key" name="key" class="form-control" value="<%= device.key %>" readonly>
                </div>
                <div class="form-group mb-3">
                  <label for="name">Nama Device</label>
                  <input type="text" id="name" name="name" class="form-control" value="<%= device.name %>">
                </div>
                <div class="form-group mb-3">
                  <label for="number">No Whatsapp</label>
                  <input type="text" id="number" name="number" class="form-control" value="<%= device.number %>">
                </div>
              </div> <!-- /.col -->

              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="webhook">Dapatkan Pesan Masuk</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="webhook" name="webhook" <%=(device.webhook==true) ? 'checked' : '' %>>
                    <label class="custom-control-label" for="webhook">Aktifkan</label>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="url">URL Webhook untuk Pesan Masuk</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="url" name="url" value="<%= device.url %>">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" id="test-webhook">Test!</button>
                    </div>
                  </div>
                </div>
              </div> <!-- /.col -->
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" id="btn-update">Update</button>
            <a class="btn btn-outline-warning" href="/device">Back</a>
          </div>
        </div> <!-- / .card -->
      </form>
    </div> <!-- .col-12 -->
  </div> <!-- .row -->

  <script>
    $('#btn-update').on('click', function (e) {
      e.preventDefault()
      const form = $('#form-update')
      form.validate({
        errorElement: 'div',
        errorClass: 'is-invalid',
        rules: {
          name: 'required',
          number: {
            required: true,
            number: true
          }
        },
      })

      if (form.valid()) {
        $.ajax({
          type: 'put',
          url: form.attr('action'),
          data: form.serialize(),
          beforeSend: (ok) => {
            $('#btn-update').prop('disabled', true).html(`<span class="spinner-border spinner-border-sm"></span>Loading...`)
          },
          success: (res) => {
            // console.log(res)
            swal({
              title: "Sukses",
              text: res.data.message,
              icon: 'success',
              timer: 3000,
              button: false
            }).then((value) => {
              window.location.href = `${SITE_URL}/device`
            });
          },
          error: (xhr, status, err) => {
            $('#btn-update').prop('disabled', false).html('Update')
            if (xhr.status == 400) {
              const res = xhr.responseJSON
              const el = res.errors
              Object.keys(el).forEach((i, val) => {
                swal("Error", el[i].message, "error");
              })
            } else {
              console.log(xhr)
              swal("Error", pesan, "error");
            }
          },
        })
      }
    })

    $('#test-webhook').on('click', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'post',
        url: `${SITE_URL}/webhook`,
        data: {
          webhook_url: $('#url').val()
        },
        success: (res) => {
          console.log(res)
          swal("Sukses", res, "success");
        },
        error: (xhr, status, pesan) => {
          console.log(xhr)
          swal("Error", pesan, "error");
        }
      })
    })
  </script>

  <%- include('footer') %>